Source: ros-galactic-ntrip-client
Section: misc
Priority: optional
Maintainer: Rob Fisher <rob.fisher@parker.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-mavros-msgs, ros-galactic-nmea-msgs, ros-galactic-rclpy, ros-galactic-std-msgs, ros-galactic-ros-workspace, python3-all, python3-setuptools
Homepage: https://github.com/LORD-MicroStrain/ntrip_client
Standards-Version: 3.9.2

Package: ros-galactic-ntrip-client
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-galactic-mavros-msgs, ros-galactic-nmea-msgs, ros-galactic-rclpy, ros-galactic-std-msgs, ros-galactic-ros-workspace
Description: NTRIP client that will publish RTCM corrections to a ROS topic, and optionally subscribe to NMEA messages to send to an NTRIP server
