Source: ros-iron-ntrip-client
Section: misc
Priority: optional
Maintainer: Rob Fisher <rob.fisher@parker.com>
Build-Depends: debhelper (>= 9.0.0), ros-iron-nmea-msgs, ros-iron-rclpy, ros-iron-rtcm-msgs, ros-iron-std-msgs, ros-iron-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://github.com/LORD-MicroStrain/ntrip_client
Standards-Version: 3.9.2

Package: ros-iron-ntrip-client
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-iron-nmea-msgs, ros-iron-rclpy, ros-iron-rtcm-msgs, ros-iron-std-msgs, ros-iron-ros-workspace
Description: NTRIP client that will publish RTCM corrections to a ROS topic, and optionally subscribe to NMEA messages to send to an NTRIP server
